/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

.invisible-desk {
  display: none;
}

/* mon code  */
/* headermenu */

header {
  padding-bottom: 30px;
}
.header-menu {
  display: flex;
  justify-content: space-between;
}
.header-menu img {
  width: 61.09px;
  height: 19px;
  padding: 30px 50px;
}
.header-menu nav {
  display: flex;
  gap: 30px;
}
.header-menu a {
  padding-top: 10px;
}
.header-menu a:hover {
  border-top: 2px solid #0065fc;
  color: #0065fc;
}
/* HEADER MENU FIN */
/* headline */
.headline {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding-bottom: 35px;
}

.headline-titre H2 {
  font-size: 22px;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
}
.headline-titre p {
  margin: 0px;
  padding: 0px;
  padding-top: 8px;
  font-size: 16px;
  font-weight: 400;
}
/* HEADLINE FIN */
/* BARRE DE RECHERCHE DEBUT */
.barre-de-recherche-wrap {
  height: 49px;
  display: flex;
}
.barre-de-recherche-gauche {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1px solid #f2f2f2;
  border-right: 0px;
  background-color: #f2f2f2;
  width: 50px;
}
.barre-de-recherche-centre {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}
.barre-de-recherche-centre input {
  text-align: center;
  padding-left: 24px;
  padding-right: 24px;
  text-decoration: none;
  border: none;
}
.barre-de-recherche-centre input::placeholder {
  font-weight: bold;
}
.barre-de-recherche-centre input:focus {
  border: none;
  outline: none;
}

.barre-de-recherche-boutton {
}
.barre-de-recherche-boutton button {
  border: 1px solid #0065fc;
  background: #0065fc;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 100%;
  font-weight: bold;
  color: #f2f2f2;
}
/* BARRE DE RECHERCHE FIN */
/* Bar de filtre  DEBUT*/
.section-barre-de-filtre {
  display: flex;
  gap: 15px;
}

.barre-de-filtre-wraper {
  display: flex;
  height: 50px;
  column-gap: 15px;
}

.barre-de-filtre-composant {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: 2px solid #d9d9d9;
  padding-right: 19px;
  padding-left: 19px;
  column-gap: 10px;
}
.barre-de-filtre-composant i {
  /* padding-right: 10px; */
  color: #0065fc;
}
.barre-de-filtre-composant:hover {
  background: #deebff;
}
.barre-de-filtre-composant span {
  font-size: 16px;
  font-weight: 700;
}
.barre-de-filtre-infobarre {
  display: flex;
  column-gap: 10px;
}
.barre-de-filtre-infobarre img {
  align-items: center;
}

/* BARRE DE FILTRE FIN */

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements  DEBUT ***********/

.hebergements {
  width: 65%;
}
.hebergement-titre {
  margin-top: 0px;
  font-size: 22px;
  font-weight: 700;
}
.hebergement-wrap {
  display: flex;
  flex-flow: row wrap;
  row-gap: 30px;
  column-gap: 30px;
}
.hebergement-carte {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  width: 28%;
  flex-grow: 2;
}
.lien-hebergement {
  display: contents;
}
.hebergement-carte-contenu {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.hebergement-carte-contenu img {
  width: 100%;
  height: 124px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.hebergement-carte-contenu H2 {
  margin: 0px;
  font-size: 16px;
  font-weight: 700;
}
.hebergement-carte-contenu p {
  margin: 0px;
  font-size: 14px;
  font-weight: 400;
}
.titre-filtre {
  margin: 0px;
  font-size: 18px;
  font-weight: 700;
}
/* HEBERGEMENT FIN */
/* Activités DEBUT */
.activités {
  display: flex;
  flex-direction: column;
  column-gap: 30px;
  row-gap: 30px;
  padding: 30px;
}
.activités-wrap {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.activités-wrap-contenu {
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  width: 25%;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.activités-wrap-contenu img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  height: 380px;
}
.activités-wrap-contenu p {
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  padding-left: 19px;
}

.activités-titre {
  margin: 0px;
  font-size: 22px;
  font-weight: 700;
}
/* Activités FIN*/
/****** Populaires ***********/

.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}
/* footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #f2f2f2;
}
.footer-wrap-contenu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}
.footer-titre {
  font-size: 18px;
  font-weight: 700;
}

/* footer */
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px)
@media (max-width: 767.98px) {
  /* ... */
